.calendar {
  display: grid;
  align-content: end;
  grid-template-columns: repeat(7, 100px);
  grid-gap: 1px;
  text-align: center;
  line-height: 100px;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.calendar-28 .day:nth-child(1):after {
  content: "1";
}

.calendar-28 .day:nth-child(1) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(1):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(2):after {
  content: "2";
}

.calendar-28 .day:nth-child(2) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(2):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(3):after {
  content: "3";
}

.calendar-28 .day:nth-child(3) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(3):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(4):after {
  content: "4";
}

.calendar-28 .day:nth-child(4) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(4):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(5):after {
  content: "5";
}

.calendar-28 .day:nth-child(5) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(5):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(6):after {
  content: "6";
}

.calendar-28 .day:nth-child(6) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(6):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(7):after {
  content: "7";
}

.calendar-28 .day:nth-child(7) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(7):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(8):after {
  content: "8";
}

.calendar-28 .day:nth-child(8) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(8):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(9):after {
  content: "9";
}

.calendar-28 .day:nth-child(9) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(9):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(10):after {
  content: "10";
}

.calendar-28 .day:nth-child(10) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(10):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(11):after {
  content: "11";
}

.calendar-28 .day:nth-child(11) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(11):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(12):after {
  content: "12";
}

.calendar-28 .day:nth-child(12) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(12):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(13):after {
  content: "13";
}

.calendar-28 .day:nth-child(13) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(13):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(14):after {
  content: "14";
}

.calendar-28 .day:nth-child(14) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(14):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(15):after {
  content: "15";
}

.calendar-28 .day:nth-child(15) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(15):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(16):after {
  content: "16";
}

.calendar-28 .day:nth-child(16) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(16):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(17):after {
  content: "17";
}

.calendar-28 .day:nth-child(17) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(17):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(18):after {
  content: "18";
}

.calendar-28 .day:nth-child(18) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(18):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(19):after {
  content: "19";
}

.calendar-28 .day:nth-child(19) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(19):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(20):after {
  content: "20";
}

.calendar-28 .day:nth-child(20) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(20):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(21):after {
  content: "21";
}

.calendar-28 .day:nth-child(21) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(21):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(22):after {
  content: "22";
}

.calendar-28 .day:nth-child(22) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(22):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(23):after {
  content: "23";
}

.calendar-28 .day:nth-child(23) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(23):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(24):after {
  content: "24";
}

.calendar-28 .day:nth-child(24) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(24):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(25):after {
  content: "25";
}

.calendar-28 .day:nth-child(25) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(25):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(26):after {
  content: "26";
}

.calendar-28 .day:nth-child(26) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(26):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(27):after {
  content: "27";
}

.calendar-28 .day:nth-child(27) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(27):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-28 .day:nth-child(28):after {
  content: "28";
}

.calendar-28 .day:nth-child(28) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-28 .day:nth-child(28):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(1):after {
  content: "1";
}

.calendar-29 .day:nth-child(1) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(1):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(2):after {
  content: "2";
}

.calendar-29 .day:nth-child(2) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(2):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(3):after {
  content: "3";
}

.calendar-29 .day:nth-child(3) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(3):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(4):after {
  content: "4";
}

.calendar-29 .day:nth-child(4) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(4):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(5):after {
  content: "5";
}

.calendar-29 .day:nth-child(5) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(5):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(6):after {
  content: "6";
}

.calendar-29 .day:nth-child(6) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(6):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(7):after {
  content: "7";
}

.calendar-29 .day:nth-child(7) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(7):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(8):after {
  content: "8";
}

.calendar-29 .day:nth-child(8) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(8):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(9):after {
  content: "9";
}

.calendar-29 .day:nth-child(9) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(9):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(10):after {
  content: "10";
}

.calendar-29 .day:nth-child(10) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(10):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(11):after {
  content: "11";
}

.calendar-29 .day:nth-child(11) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(11):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(12):after {
  content: "12";
}

.calendar-29 .day:nth-child(12) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(12):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(13):after {
  content: "13";
}

.calendar-29 .day:nth-child(13) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(13):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(14):after {
  content: "14";
}

.calendar-29 .day:nth-child(14) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(14):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(15):after {
  content: "15";
}

.calendar-29 .day:nth-child(15) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(15):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(16):after {
  content: "16";
}

.calendar-29 .day:nth-child(16) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(16):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(17):after {
  content: "17";
}

.calendar-29 .day:nth-child(17) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(17):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(18):after {
  content: "18";
}

.calendar-29 .day:nth-child(18) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(18):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(19):after {
  content: "19";
}

.calendar-29 .day:nth-child(19) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(19):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(20):after {
  content: "20";
}

.calendar-29 .day:nth-child(20) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(20):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(21):after {
  content: "21";
}

.calendar-29 .day:nth-child(21) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(21):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(22):after {
  content: "22";
}

.calendar-29 .day:nth-child(22) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(22):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(23):after {
  content: "23";
}

.calendar-29 .day:nth-child(23) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(23):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(24):after {
  content: "24";
}

.calendar-29 .day:nth-child(24) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(24):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(25):after {
  content: "25";
}

.calendar-29 .day:nth-child(25) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(25):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(26):after {
  content: "26";
}

.calendar-29 .day:nth-child(26) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(26):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(27):after {
  content: "27";
}

.calendar-29 .day:nth-child(27) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(27):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(28):after {
  content: "28";
}

.calendar-29 .day:nth-child(28) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(28):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-29 .day:nth-child(29):after {
  content: "29";
}

.calendar-29 .day:nth-child(29) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-29 .day:nth-child(29):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(1):after {
  content: "1";
}

.calendar-30 .day:nth-child(1) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(1):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(2):after {
  content: "2";
}

.calendar-30 .day:nth-child(2) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(2):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(3):after {
  content: "3";
}

.calendar-30 .day:nth-child(3) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(3):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(4):after {
  content: "4";
}

.calendar-30 .day:nth-child(4) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(4):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(5):after {
  content: "5";
}

.calendar-30 .day:nth-child(5) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(5):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(6):after {
  content: "6";
}

.calendar-30 .day:nth-child(6) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(6):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(7):after {
  content: "7";
}

.calendar-30 .day:nth-child(7) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(7):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(8):after {
  content: "8";
}

.calendar-30 .day:nth-child(8) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(8):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(9):after {
  content: "9";
}

.calendar-30 .day:nth-child(9) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(9):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(10):after {
  content: "10";
}

.calendar-30 .day:nth-child(10) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(10):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(11):after {
  content: "11";
}

.calendar-30 .day:nth-child(11) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(11):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(12):after {
  content: "12";
}

.calendar-30 .day:nth-child(12) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(12):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(13):after {
  content: "13";
}

.calendar-30 .day:nth-child(13) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(13):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(14):after {
  content: "14";
}

.calendar-30 .day:nth-child(14) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(14):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(15):after {
  content: "15";
}

.calendar-30 .day:nth-child(15) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(15):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(16):after {
  content: "16";
}

.calendar-30 .day:nth-child(16) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(16):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(17):after {
  content: "17";
}

.calendar-30 .day:nth-child(17) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(17):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(18):after {
  content: "18";
}

.calendar-30 .day:nth-child(18) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(18):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(19):after {
  content: "19";
}

.calendar-30 .day:nth-child(19) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(19):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(20):after {
  content: "20";
}

.calendar-30 .day:nth-child(20) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(20):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(21):after {
  content: "21";
}

.calendar-30 .day:nth-child(21) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(21):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(22):after {
  content: "22";
}

.calendar-30 .day:nth-child(22) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(22):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(23):after {
  content: "23";
}

.calendar-30 .day:nth-child(23) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(23):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(24):after {
  content: "24";
}

.calendar-30 .day:nth-child(24) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(24):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(25):after {
  content: "25";
}

.calendar-30 .day:nth-child(25) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(25):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(26):after {
  content: "26";
}

.calendar-30 .day:nth-child(26) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(26):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(27):after {
  content: "27";
}

.calendar-30 .day:nth-child(27) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(27):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(28):after {
  content: "28";
}

.calendar-30 .day:nth-child(28) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(28):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(29):after {
  content: "29";
}

.calendar-30 .day:nth-child(29) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(29):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-30 .day:nth-child(30):after {
  content: "30";
}

.calendar-30 .day:nth-child(30) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-30 .day:nth-child(30):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(1):after {
  content: "1";
}

.calendar-31 .day:nth-child(1) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(1):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(2):after {
  content: "2";
}

.calendar-31 .day:nth-child(2) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(2):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(3):after {
  content: "3";
}

.calendar-31 .day:nth-child(3) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(3):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(4):after {
  content: "4";
}

.calendar-31 .day:nth-child(4) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(4):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(5):after {
  content: "5";
}

.calendar-31 .day:nth-child(5) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(5):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(6):after {
  content: "6";
}

.calendar-31 .day:nth-child(6) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(6):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(7):after {
  content: "7";
}

.calendar-31 .day:nth-child(7) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(7):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(8):after {
  content: "8";
}

.calendar-31 .day:nth-child(8) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(8):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(9):after {
  content: "9";
}

.calendar-31 .day:nth-child(9) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(9):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(10):after {
  content: "10";
}

.calendar-31 .day:nth-child(10) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(10):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(11):after {
  content: "11";
}

.calendar-31 .day:nth-child(11) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(11):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(12):after {
  content: "12";
}

.calendar-31 .day:nth-child(12) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(12):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(13):after {
  content: "13";
}

.calendar-31 .day:nth-child(13) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(13):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(14):after {
  content: "14";
}

.calendar-31 .day:nth-child(14) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(14):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(15):after {
  content: "15";
}

.calendar-31 .day:nth-child(15) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(15):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(16):after {
  content: "16";
}

.calendar-31 .day:nth-child(16) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(16):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(17):after {
  content: "17";
}

.calendar-31 .day:nth-child(17) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(17):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(18):after {
  content: "18";
}

.calendar-31 .day:nth-child(18) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(18):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(19):after {
  content: "19";
}

.calendar-31 .day:nth-child(19) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(19):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(20):after {
  content: "20";
}

.calendar-31 .day:nth-child(20) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(20):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(21):after {
  content: "21";
}

.calendar-31 .day:nth-child(21) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(21):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(22):after {
  content: "22";
}

.calendar-31 .day:nth-child(22) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(22):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(23):after {
  content: "23";
}

.calendar-31 .day:nth-child(23) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(23):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(24):after {
  content: "24";
}

.calendar-31 .day:nth-child(24) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(24):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(25):after {
  content: "25";
}

.calendar-31 .day:nth-child(25) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(25):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(26):after {
  content: "26";
}

.calendar-31 .day:nth-child(26) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(26):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(27):after {
  content: "27";
}

.calendar-31 .day:nth-child(27) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(27):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(28):after {
  content: "28";
}

.calendar-31 .day:nth-child(28) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(28):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(29):after {
  content: "29";
}

.calendar-31 .day:nth-child(29) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(29):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(30):after {
  content: "30";
}

.calendar-31 .day:nth-child(30) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(30):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-31 .day:nth-child(31):after {
  content: "31";
}

.calendar-31 .day:nth-child(31) {
  border: 1px solid black;
  background: lightgray;
  transition: transform 0.5s;
}
.calendar-31 .day:nth-child(31):hover {
  background: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar-mon .day:first-child {
  grid-column-start: 1;
}

.calendar-tue .day:first-child {
  grid-column-start: 2;
}

.calendar-wed .day:first-child {
  grid-column-start: 3;
}

.calendar-thu .day:first-child {
  grid-column-start: 4;
}

.calendar-fri .day:first-child {
  grid-column-start: 5;
}

.calendar-sat .day:first-child {
  grid-column-start: 6;
}

.calendar-sun .day:first-child {
  grid-column-start: 7;
}

/*# sourceMappingURL=style.css.map */
